@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700;800&display=swap');

$family-sans-serif: 'Fira Sans', sans-serif;

@import 'bulma';

body {
  background-color: #080600;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: 800 !important;
}

h1 {
  @extend .is-size-1;
}

h2 {
  @extend .is-size-3;
}

h3 {
  @extend .is-size-4;
}

section {
  @extend .section;
}

p, ul {
  margin-bottom: 0.66em;
}

p:last-child {
  margin-bottom: 0;
}

p.lead {
  font-size: 1.33em;
  margin: 2em;
}

dl {
  dt {
    font-weight: 700;
  }

  dd {
    font-size: .8em;
    font-weight: 300;
    margin-left: 1rem;
  }
}

ul {
  li {
    margin-left: 1.66rem;
  }
}

h2.card-header-title {
  @extend .is-size-4;
}

.columns {
  align-items: stretch;
}

.photocolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sponsors {
  text-align: center;

  & > .column > h2 {
    @extend .is-size-1;
    border-top: thin solid black;
    border-bottom: thin solid black;
    margin-bottom: 0.66rem;
  }

  .family {
    font-family: serif;
    @extend .is-size-3;
  }

  img {
    padding: 0 1rem;
    margin: auto;
  }

  .columns {
    align-items: center;
    justify-content: center;
  }
}