<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Westside Robotics</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script src="https://kit.fontawesome.com/78be1d5613.js" crossorigin="anonymous"></script>
  </head>
  <body class="has-navbar-fixed-top">
    <%= partial 'navbar' %>
    <%= yield %>
  </body>
</html>
