<section id="boosters">
  <div class="container box">
    <div class="columns is-align-items-center has-text-centered">
      <div class="column">
        <h1>Booster Club</h1>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <p>
          461 Boosters FIRST, Inc. is the 501(c)(3) corporation that manages the funds that support all of the Westside Robotics Programs.
          The group mostly consists of parents of current students, program leadership, and alumni.
        </p>

        <h2>Get Involved</h2>

        <p>
          We are currently seeking people with the following skills & expertise to join our team!
        </p>

        <ul>
          <li>
            <strong>Program Finance & Donor Stewardship Support</strong>
            As our organization has grown, we're approaching the point where we're making enough money 
            that our IRS reporting requirements get a little more complex. 
            We could also really benefit from someone with donor stewardship, sponsor engagement, 
            and grant writing experience to help our leadership team & high school students work to ensure 
            that we have the resources we need to maintain & grow our programs.
          </li>
        </ul>
      </div>
      <div class="column is-4">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Officers &amp; Leadership</h2>
          </div>
          <div class="card-content">
            <dl>
              <dt><a href="mailto:boosters-president@boilerinvasion.org">Kevin Wobschall</a><dt>
              <dd>President</dd>
              <dt><a href="mailto:boosters-vicepresident@boilerinvasion.org">Derrick Dilts</a><dt>
              <dd>Vice President</dd>
              <dt><a href="mailto:boosters-treasurer@boilerinvasion.org">Rao Fu</a><dt>
              <dd>Treasurer</dd>
              <dt><a href="mailto:brad@boilerinvasion.org">Brad Thompson</a><dt>
              <dd>Executive Director</dd>
            </dl>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Get in Touch</h2>
          </div>
          <div class="card-content">
            <p>
              <a href="mailto:boosters-president@boilerinvasion.org">Contact Kevin Wobschall for more information</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>