<div class="columns is-align-items-center">
  <div class="column is-4">
    <a href="https://store.myfundraisingplace.com/2aa83eba-45af-486c-ad1d-c32a85e01e46" target="blank">
      <img src="https://frpilotmain.blob.core.windows.net/mfp-storage/social/prod/GL_image_2_BB_online_FR.jpg">
    </a>
  </div>
  <div class="column is-8">
    <p>
      Our annual Butter Braid fundraiser is running until October 30 - see your favorite Westside Robotics member or 
      <a href="https://store.myfundraisingplace.com/2aa83eba-45af-486c-ad1d-c32a85e01e46" target="blank">place your order online here</a>!
    </p>
  </div>
</div>
