<section id="FLL">
  <div class="container box">
    <div class="columns is-align-items-center has-text-centered">
      <div class="column is-1">
        <%= image_tag 'fll-red-mark.png', alt: '' %>
      </div>
      <div class="column is-1">
        <%= image_tag 'fll-green-mark.png', alt: '' %>
      </div>
      <div class="column is-8">
        <h1>
          Robotics Development Phenomenon
          <div class="is-size-3">4th-6th Grade FIRST LEGO League Challenge Teams</div>
        </h1>
      </div>
      <div class="column is-1">
        <%= image_tag 'fll-blue-mark.png', alt: '' %>
      </div>
      <div class="column is-1">
        <%= image_tag 'fll-black-mark.png', alt: '' %>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column is-3 photocolumn">
        <%= image_tag 'FLLc-table.jpg', alt: 'students placing a LEGO robot on the playing field' %>
        <%= image_tag 'FLLc-winners.jpg', alt: 'a group of happy students with medals and a trophy' %>
      </div>
      <div class="column is-5">
        The <em>FIRST</em> LEGO League Challenge program challenges 4th-6th grade students to 
        build and program small, autonomous Lego robots to complete tasks and overcome obstacles on a 4'x8' game board, 
        research solutions to real-world problems with experts from their community, 
        and learn what it means to work together as a team. 
      </div>
      <div class="column is-4">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Program Leadership</h2>
          </div>
          <div class="card-content">
            <dl>
              <dt>Zack Antalis<dt>
              <dd>Program Coordinator &amp; Coach Advisor</dd>
              <dt>Brad Thompson</dt>
              <dd>Program Administrator</dd>
            </dl>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Join the Team</h2>
          </div>
          <div class="card-content">
            <p>
              Our season is underway - we'll get started again next fall!
            </p>

            <p>
              You can also email <a href="mailto:zack@boilerinvasion.org">zack@boilerinvasion.org</a> for more information.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="card-header-title">Learn More about FLL</h2>
          </div>
          <div class="card-content">
            <div class="columns is-align-items-center">
              <div class="column is-3">
                <%= image_tag 'FIRSTLego_IconVert_RGB.png', alt: '' %>
              </div>
              <div class="column is-9">
                <p>
                  <a href="https://www.firstinspires.org/robotics/fll" target="_blank">Learn more about FLL from FIRST</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>