<section id="FRC">
  <div class="container box">
    <div class="columns is-align-items-center has-text-centered">
      <div class="column is-1">
        <%= image_tag 'wbi-mark.png', alt: '' %>
      </div>
      <div class="column is-10">
        <h1>
          Westside Boiler Invasion
          <div class="is-size-3">9-12th Grade FIRST Robotics Competition Team</div>
        </h1>
      </div>
      <div class="column is-1">
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column is-3 photocolumn">
        <%= image_tag 'FRC-proto.jpg', alt: 'a group of students testing a prototype mechanism' %>
        <%= image_tag 'FRC-pit.jpg', alt: 'a group of girls working on the robot at a competition' %>
      </div>
      <div class="column is-5">
        FRC Team 461, Westside Boiler Invasion, is our flagship program that provides real-world 
        technology, engineering, programming, design, media, marketing, and outreach experience to West Lafayette High School students. 
        Our team members are tasked each year with designing, fabricating, and programming a 120lb, 3'x3'x5' robot to 
        compete with other robots in a collaborative competition environment. 
        In addition to the competition on the field, teams compete for awards in a variety of areas, 
        including team spirit, mechanical design, control systems and autonomous robot behavior, and community engagement & educational efforts.
      </div>
      <div class="column is-4">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Team Leadership</h2>
          </div>
          <div class="card-content">
            <dl>
              <dt>Brad Thompson<dt>
              <dd>Team Lead, Software, Media, &amp; Operations</dd>
              <dt>Evan Hochstein<dt>
              <dd>Engineering &amp; Business</dd>
            </dl>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Join the Team</h2>
          </div>
          <div class="card-content">
            <p>
              Email <a href="mailto:evan@boilerinvasion.org">evan@boilerinvasion.org</a> for more information.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="card-header-title">Learn More about FRC</h2>
          </div>
          <div class="card-content">
            <div class="columns is-align-items-center">
              <div class="column is-3">
                <%= image_tag 'FIRSTRobotics_IconVert_RGB.png', alt: '' %>
              </div>
              <div class="column is-9">
                <p>
                  <a href="https://www.firstinspires.org/robotics/frc" target="_blank">Learn more about FRC from FIRST</a>
                </p>
              </div>
            </div>

            <div class="columns is-align-items-center">
              <div class="column is-3">
                <%= image_tag 'wbi-mark.png', alt: '' %>
              </div>
              <div class="column is-9">
                <p>
                  <a href="https://www.boilerinvasion.org/" target="_blank">Visit the Team's Website</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>