<section id="FTC">
  <div class="container box">
    <div class="columns is-align-items-center has-text-centered">
      <div class="column is-1">
        <%= image_tag '4366-mark.png', alt: '' %>
      </div>
      <div class="column is-1">
        <%= image_tag '6518-mark.png', alt: '' %>
      </div>
      <div class="column is-8">
        <h1>
          Westside Gold, Black, Red, and Grey
          <div class="is-size-3">7-8th Grade FIRST Tech Challenge Teams</div>
        </h1>
      </div>
      <div class="column is-1">
        <%= image_tag '19932-mark.png', alt: '' %>
      </div>
      <div class="column is-1">
        <%= image_tag '21931-mark.png', alt: '' %>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column is-3 photocolumn">
        <%= image_tag 'FTC-bots.jpg', alt: '4 FIRST Tech Challenge robots sitting on carts', class: 'mb-1' %>
        <%= image_tag 'FTC-shop.jpg', alt: '2 students working on a robot' %>
      </div>
      <div class="column is-5">
        Our junior high FIRST® Tech Challenge teams spend their season designing, building, and programming 18" x 18" x 18" robots 
        to compete on a 12' X 12' field in an alliance format against other teams. 
        The teams also document their discoveries & process in an Engineering Notebook, which along with a presentation, 
        can earn teams awards at competitions. 
      </div>
      <div class="column is-4">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Team Leadership</h2>
          </div>
          <div class="card-content">
            <dl>
              <dt>Peyton Yeung<dt>
              <dd>Team Lead, Engineering &amp; Design</dd>
              <dt>Kevin Wobschall<dt>
              <dd>Engineering &amp; Software</dd>
            </dl>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Join the Team</h2>
          </div>
          <div class="card-content">
            <p>
              Email <a href="mailto:peyton@boilerinvasion.org">peyton@boilerinvasion.org</a> for more information.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="card-header-title">Learn More about FTC</h2>
          </div>
          <div class="card-content">
            <div class="columns is-align-items-center">
              <div class="column is-3">
                <%= image_tag 'FIRSTTech_IconVert_RGB.png', alt: '' %>
              </div>
              <div class="column is-9">
                <p>
                  <a href="https://www.firstinspires.org/robotics/ftc" target="_blank">Learn more about FTC from FIRST</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>