<section id="mentor">
  <div class="container box">
    <div class="columns is-align-items-center has-text-centered">
      <div class="column is-1">
      </div>
      <div class="column is-10">
        <h1>Volunteer</h1>
      </div>
      <div class="column is-1">
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column is-3 photocolumn">
        <%= image_tag 'mentor-shop.jpg', alt: 'a mentor showing a pair of students how to use a tool' %>
        <%= image_tag 'mentor-group.jpg', alt: 'a mentor sitting on a platform talking to a large group of students' %>
      </div>
      <div class="column is-8">
          <p>
            Getting involved with our program in any of these roles is a great way to give back to your community.
            For parents with students involved in our programs, these roles also come with fee/team dues reductions.
          </p>
        <h2>Team Support Roles</h2>
        <ul>
          <li>
            <strong>FIRST LEGO League Coaches</strong>
            We rely heavily on parents and other members of the community to help coach our elementary FLL Challenge teams. 
            No great deal of technical expertise is needed (although it is appreciated!), 
            the job is really more about keeping the students focused and moving in the right direction, and
            FIRST provides guidebooks & materials to walk you through the season. 
            You won't have to go it alone either - we'll pair you with another coach or two, and we'll also have people around to provide technical support.
            The teams typically meet for about 3 hours a week for approximately 10 weeks during the fall.
            Reach out to <a href="mailto:brad@boilerinvasion.org">Brad</a> if you're interested in helping to coach a team.
          </li>
          <li>
            <strong>FIRST Tech Challenge Mentors & Aides</strong>
            Our FIRST Tech Challenge teams really benefit from some additional adult support.
            Whether you're able to serve as a mentor &amp; share your mechanical, electrical, software, media, or presentation skills that our team members need,
            or you can just come hang out with a small group of junior high students and help them stay on task &amp; work together effectively, we need your support!
            Our FTC teams meet twice a week for most of the year, starting in the summer &amp; going until the end of our competitions in January or February.
            Additional support is especially important during the summer &amp; early fall when we meet as one big group instead of in multiple smaller teams.
            Reach out to <a href="mailto:peyton@boilerinvasion.org">Peyton</a> if you're interested in helping to support our FTC program.
          </li>
          <li>
            <strong>FIRST Robotics Competition Mentors</strong>
            Our high school students are a lot more self-sufficient, but still get a lot out of learning from mentors with specialized skills.
            Reach out to <a href="mailto:brad@boilerinvasion.org">Brad</a> if you're interested in helping to support our FRC program.
          </li>
        </ul>

        <hr>

        <h2>Administrative Support</h2>
        <ul>
          <li>
            <strong>Fundraising Assistant(s)</strong>
            We're looking for a person or two to help with some of the detail work for our fundraising activities &amp; 
            provide some occasional support to our high school FRC students that work on grant writing &amp; fundraising projects.
          </li>
          <li>
            <strong>Got Something Else In Mind?</strong>
            If you've got other talents you think we could benefit from, please reach out and let us know!
          </li>
        </ul>

        <p>
          Contact <a href="mailto:brad@boilerinvasion.org">Brad</a> if you're interested in any of these roles.
        </p>
      </div>
    </div>
  </div>
</section>