<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/#top">
      <%= image_tag 'westside-robotics-mark.png', alt: '' %>
      <span class="is-sr-only">Home</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/#top">
        Top
      </a>

      <a class="navbar-item" href="/#FLL">
        FLL Challenge (4-6th)
      </a>

      <a class="navbar-item" href="/#FTC">
        FTC (7-8th)
      </a>

      <a class="navbar-item" href="/#FRC">
        FRC (9-12th)
      </a>

      <a class="navbar-item" href="/#sponsors">
        Sponsors
      </a>

      <a class="navbar-item" href="/#boosters">
        Booster Club
      </a>

      <a class="navbar-item" href="/#mentor">
        Mentor
      </a>

      
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        </div>
      </div>
    </div>
  </div>
</nav>