<section id="sponsors">
  <div class="container box">
    <div class="columns is-align-items-center has-text-centered">
      <div class="column is-3">
      </div>
      <div class="column is-6">
        <h1>Sponsors</h1>
      </div>
      <div class="column is-3">
      </div>
    </div>
    <div class="columns is-desktop sponsors">
      <div class="column is-8">
        <h2>Strategic Partners</h2>

        <div class="columns">
          <div class="column is-2">
            <a href="https://wl.k12.in.us" target="_blank"><img src="/images/sponsors/wl.png" alt="West Lafayette Community School Corporation"></a>
          </div>
          <div class="column is-5">
            <a href="https://caterpillar.com" target="_blank"><img src="/images/sponsors/caterpillar.png" alt="Caterpillar Foundation"></a>
          </div>
          <div class="column is-5">
            <a href="https://www.stratasys.com/en/" target="_blank"><img src="/images/sponsors/stratasys.png" alt="Stratasys"></a>
          </div>
        </div>

        <div class="columns">
          <div class="column is-3">
            <a href="https://www.arconic.com" target="_blank"><img src="/images/sponsors/arconic.png" alt="Arconic"></a>
          </div>
          <div class="column is-3">
            <a href="https://www.candcdi.com/" target="_blank"><img src="/images/sponsors/ccdi.png" alt="C&C Diverse Integrations"></a>
          </div>
          <div class="column is-3">
            <a href="https://purduefirst.org" target="_blank"><img src="/images/sponsors/purduefirst.png" alt="Purdue FIRST Programs"></a>
          </div>
          <div class="column is-3">
            <a href="https://andymark.com" target="_blank"><img src="/images/sponsors/andymark.png" alt="AndyMark"></a>
          </div>
        </div>

        <div class="columns">
          <div class="column is-8">
            <div class="family">Westside Robotics Families &amp; Alumni</div>
          </div>
          <div class="column is-4">
            <a href="https://sledgehammerinfosystems.com" target="_blank"><img src="/images/sponsors/sledgehammerMark.png" alt="Sledgehammer Infosystems"></a>
          </div>
        </div>

        <h2>Gold Sponsors</h2>

        <div class="columns is-justify-content-center">
          <div class="column is-2">
            <a href="https://ghaasfoundation.org/" target="_blank"><img src="/images/sponsors/haas.png" alt="Gene Haas Foundation"></a>
          </div>
          <div class="column is-3">
            <a href="https://siafoundation.wixsite.com/sia-foundation" target="_blank"><img src="/images/sponsors/sia.png" alt="SIA Foundation"></a>
          </div>
          <div class="column is-2">
            <a href="https://www.purdue.edu/in-mac/index.php" target="_blank"><img src="/images/sponsors/inmac.png" alt="IN-MaC"></a>
          </div>
        </div>
        <div class="columns is-justify-content-center">
          <div class="column is-2">
            <a href="https://summitfinancialgroupofindiana.com/" target="_blank"><img src="/images/sponsors/summitFinancial.svg" alt="Summit Financial Group"></a>
          </div>
          <div class="column is-3">
            <a href="https://https://www.radianresearch.com" target="_blank"><img src="/images/sponsors/radian.png" alt="Radian Research"></a>
          </div>
          <div class="column is-2">
            <a href="https://www.oscarwinski.com/" target="_blank"><img src="/images/sponsors/oscarwinski.png" alt="Oscar Winski"></a>
          </div>
        </div>

        <h2>Silver Sponsors</h2>

        <div class="columns">
          <div class="column is-2">
            <a href="http://www.colorsinc.com/" target="_blank"><img src="/images/sponsors/colors.jpg" alt="Colors, Inc"></a>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Support our Program</h2>
          </div>
          <div class="card-content">
            <p>
              We rely on the generosity of individuals &amp; businesses in our community to run our programs,
              and we want to recognize everyone who contributes to making what we do possible.
            </p>

            <ul>
              <li>
                <strong>Strategic Partners</strong><br>
                <em>(significant, long-term, and/or cross-program financial, in-kind, and/or mentorship support)</em>
                <ul>
                  <li>Logo on team apparel, marketing materials, &amp; robots</li>
                  <li>Promotion on website &amp; social media</li>
                </ul>
              </li>
              <li>
                <strong>Gold Sponsor</strong><br>
                <em>($1,000 &amp; above)</em>
                <ul>
                  <li>Logo on donor shirt &amp; robot</li>
                  <li>Promotion on website &amp; social media</li>
                </ul>
              </li>
              <li>
                <strong>Silver Sponsor</strong><br>
                <em>($500 & above)</em>
                <ul>
                  <li>Logo on donor shirt</li>
                  <li>Promotion on website</li>
                </ul>
              </li>
            </ul>

            <p>
              Contact <a href="mailto:brad@boilerinvasion.org">Brad Thompson</a> to learn more about getting involved!
            </p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Donate Now</h2>
          </div>
          <div class="card-content">
            <a href="https://donate.boilerinvasion.org" target="_blank" class="button is-success is-large">Donate Online</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>