<section id="top">
  <div class="container box">
    <div class="columns is-desktop">
      <div class="column is-8">
        <%= image_tag 'program-banner.png', alt: 'photo collage of elementary, middle, and high school students working on robots' %>
        <h1 class="is-sr-only">Westside Robotics</h1>
        <div class="columns is-align-items-center">
          <div class="column is-4">
            <%= image_tag "westside-robotics.png", alt: 'Westside Robotics logo' %>
          </div>
          <div class="column">
            <p class="lead">
            Westside Robotics is the supporting organization for all of the <em>FIRST</em> Robotics programs within the West Lafayette Community School Corporation. 
            For more than 2 decades, we've provided hands-on, mentor-guided experiences for the 140+ students that participate in our programs each year.
            </p>
          </div>
        </div>

        <div class="columns is-align-items-center">
          <div class="column is-8">
            <p>
              We meet at the old Happy Hollow school building, located at 1200 N Salisbury Street, West Lafayette IN 47906.
              Door #7, around the back of the building, is our main entrance.
              For larger events we will also open door #9, which is closer to the Kingston Dr. drop off drive.
            </p>
          </div>
          <div class="column is-4">
            <%= image_tag 'happyHollow.png', alt: '' %>
          </div>
        </div>
      </div>
      <div class="column is-4"> 
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Program Leadership</h2>
          </div>
          <div class="card-content">
            <dl>
              <dt><a href="mailto:brad@boilerinvasion.org">Brad Thompson</a><dt>
              <dd>Executive Director &amp; Senior Software Mentor</dd>
              <dt><a href="mailto:peyton@boilerinvasion.org">Peyton Yeung</a><dt>
              <dd>Senior Engineering Mentor</dd>
              <dt><a href="mailto:betsy@boilerinvasion.org">Betsy Baxter</a><dt>
              <dd>Senior Community Engagement Mentor</dd>
              <dt><a href="mailto:monica@boilerinvasion.org">Monica Hochstein</a><dt>
              <dd>Senior Community Engagement Mentor</dd>
              <dt><a href="mailto:evan@boilerinvasion.org">Evan Hochstein</a><dt>
              <dd>Senior Engineering Mentor</dd>
              <dt><a href="mailto:ryne@boilerinvasion.org">Ryne Strzelecki</a><dt>
              <dd>Senior Engineering Mentor</dd>
              <dt><a href="mailto:bravo@boilerinvasion.org">Daniel Bravo</a><dt>
              <dd>Senior Software Mentor</dd>
              <dt><a href="mailto:kevin@boilerinvasion.org">Kevin Wobschall</a><dt>
              <dd>Board President & Senior Engineering Mentor</dd>
              <dt><a href="mailto:flo@boilerinvasion.org">Steve Florence</a><dt>
              <dd>Founder & Senior Engineering Mentor Emeritus</dd>
            </dl>
          </div>
        </div>

        <div class="card">
          
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="card-header-title">Learn More about&nbsp;<em>FIRST</em></h2>
          </div>
          <div class="card-content">
            <div class="columns is-align-items-center">
              <div class="column is-3">
                <%= image_tag 'FIRST_Vertical_RGB.png' %>
              </div>
              <div class="column is-9">
                <p>
                  <a href="https://firstinspires.org" target="_blank"><em>FIRST</em></a> is the international organization that sets the rules for our teams &amp; competitions.
                </p>
              </div>
            </div>
            <div class="columns is-align-items-center">
              <div class="column is-3">
                <%= image_tag 'FIRST-Reg-IN-Robotics-clr-V.png' %>
              </div>
              <div class="column is-9">
                <p>
                  <a href="https://firstindianarobotics.org" target="_blank">FIRST Indiana Robotics</a> is our local affiliate that runs our events &amp; helps support teams.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2 class="card-header-title">Follow Us on Social Media</em></h2>
          </div>
          <div class="card-content">
            <div class="columns is-align-items-center has-text-centered">
              <div class="column is-4">
                <%= link_to '<i class="fa-brands fa-facebook fa-fw fa-5x"></i>'.html_safe, 'https://www.facebook.com/WLCSCRobotics', target: '_blank', title: 'Facebook' %>
              </div>
              <div class="column is-4">
                <%= link_to '<i class="fa-brands fa-twitter fa-fw fa-5x"></i>'.html_safe, 'https://twitter.com/WLRobotics', target: '_blank', title: 'Twitter' %>
              </div>
              <div class="column is-4">
                <%= link_to '<i class="fa-brands fa-instagram fa-fw fa-5x"></i>'.html_safe, 'https://www.instagram.com/westsiderobotics/', target: '_blank', title: 'Instagram' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>