<section id="slides">
  <div class="container box">
    <div class="columns">
      <div class="column is-8">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTii4NWW9NRksVnWIOk-1B2ugQjHWYfwYFRQ_hfTwGFmhuSx0KBYWP61hWMRP6V2b6_Aqs5q_gYAEek/embed?start=false&loop=false&delayms=30000" frameborder="0" width="100%" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      <div class="column is-4">
        <a class="button is-block my-3" href="#signup">Sign Up</a>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Questions?</h2>
          </div>
          <div class="card-content">
            <dl>
              <dt><a href="mailto:brad@boilerinvasion.org">Brad Thompson</a><dt>
              <dd>Team Coordinator &amp; Advisor</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>