<section id="ftc-volunteer">
  <div class="container box">
    <div class="columns is-align-items-center has-text-centered">
      <div class="column">
        <h1>Volunteer at the West Lafayette FIRST Tech Challenge Event</h1>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column is-3">
        <img src="/images/FTCV-ref.jpg" class="my-4">
        <img src="/images/FTCV-robot.jpg" class="my-4">
        <img src="/images/FTCV-vols.jpg" class="my-4">
        <img src="/images/FTCV-game.jpg" class="my-4">
      </div>
      <div class="column">
        <p>
          We're looking for energetic volunteers like you to help run our FIRST Tech Challenge robotics competitions on January 25th & 26th at Battle Ground Middle School. 
          If you've never heard of FIRST Tech Challenge (FTC), imagine teams of middle and high school students designing, building, and programming robots to compete in head-to-head challenges -
          and you get to be part of making it happen!
        </p>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qkOphaV17UM?si=jQdzoslOB23l6vTX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>
          <strong>Why should you volunteer?</strong>
        </p>
        <ul style="list-style: square;">
          <li>Get hands-on experience with STEM education and mentorship</li>
          <li>Add meaningful volunteer experience to your resume</li>
          <li>Network with local engineering professionals and educators</li>
          <li>Free breakfast, lunch, and a cool event t-shirt</li>
        </ul>

        <iframe width="100%" height="315" src="https://www.youtube.com/embed/XjfXNVVBBf8?si=SCtrj56vxfcCDDOD&amp;start=24892" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <p>
          We have roles for every skill level, from checking in teams to serving as technical judges. 
          If you're studying engineering, computer science, or any STEM field, this is a perfect opportunity to share your knowledge while seeing how the next generation of engineers tackles real-world problems.
          We'll make sure you're fully trained for whichever role interests you most. 
          Plus, you'll be working alongside experienced volunteers who are passionate about inspiring young people in STEM.
        </p>
      </div>
      <div class="column is-4">
        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Contact</h2>
          </div>
          <div class="card-content">
            <dl>
              <dt><a href="mailto:bthompson@indianafirst.org">Brad Thompson</a><dt>
              <dd>Volunteer Coordinator</dd>
            </dl>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <h2 class="card-header-title">Volunteer Resources</h2>
          </div>
          <div class="card-content">
            <ul style="list-style: square">
              <li>
                <a href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/ftc/ftc-volunteer-role-descriptions.pdf">Volunteer Role Descriptions</a>
              </li>
              <li>
                <a href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/volunteer/volunteer-registration-user-guide.pdf">Volunteer Registration Guide</a>
              </li>
              <li>
                <a href="https://my.firstinspires.org/Volunteers/Wizard/Search/2?EventId=73971">Register to Volunteer on Saturday</a>
              </li>
              <li>
                <a href="https://my.firstinspires.org/Volunteers/Wizard/Search/2?EventId=73972">Register to Volunteer on Sunday</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>